$primary-font:'Quicksand', sans-serif;
$paired-font:'Poppins',
sans-serif;
.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.default-color {
    color: $dark-grey;
}
.color-white
{
    color:$color-white;
}

.f-12
{
    font-size: 12px;
}
.f-13
{
    font-size:13px;
}
.color-green
{
    color:$color-green;
}