* {
  margin: 0;
  padding: 0;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

ul,
li {
  list-style-type: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

input:focus,
button:focus {
  outline: none;
  border: none;
}

button {
  border: none;
  border-radius: 0.2rem;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0.5rem 0.85rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #333333;
  transition: 0.1s all;
}

input[type=text] {
  border: none;
  padding: 10px 15px;
  border-radius: 0.25rem;
  width: 100%;
}

input[type=range] {
  width: 100%;
}

.primary-color {
  color: #fdc600;
}

.secondary-color {
  color: #333333;
}

.default-color {
  color: #1a1a1a;
}

.color-white {
  color: #fff;
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.color-green {
  color: #009DAE;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.align-middle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.f-20 {
  font-size: 20px !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.right-25px {
  right: 25px !important;
}

.right-60px {
  right: 60px !important;
}

.right-0px {
  right: 0px !important;
}

.border-none {
  border: none !important;
}

.hero-img {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background: url("../images/hero.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-blend-mode: overlay;
}

.header-primary {
  background-color: #fff;
  height: 50px;
  line-height: 50px;
}
.header-primary ul.left {
  float: left;
}
.header-primary ul.left li {
  float: left;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 700;
  margin-right: 12px;
}
.header-primary ul.left li span {
  padding-right: 2px;
}
.header-primary ul.left li a:hover {
  color: #fdc600;
}
.header-primary ul.right {
  float: right;
}
.header-primary ul.right li {
  float: left;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 700;
  margin-right: 12px;
}
.header-primary ul.right li span {
  padding-right: 2px;
}
.header-primary ul.right li button {
  padding: 4px 8px;
  background-color: #fdc600;
}
.header-primary ul.right li button:hover {
  transition: 0.2s all;
  background-color: #333333;
  color: #fff;
}
.header-primary h2.logo {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.header-secondary {
  background-color: rgba(26, 26, 26, 0.5);
  display: flex;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-secondary_items {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.header-secondary_items input[type=text] {
  width: 33%;
}
.header-secondary_items button,
.header-secondary_items input[type=text] {
  padding: 8px 12px;
  border-radius: 8px;
  line-height: 20px;
  height: 40px;
  border: none;
  display: inline-flex;
  cursor: pointer;
}
.header-secondary_items_input-fields {
  width: 100%;
  margin: 0 2px 0 4px;
}
.header-secondary_items button {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

* {
  transition: 0.3s;
  box-sizing: border-box;
}

h1 {
  color: #fdc600;
}

body {
  line-height: 18px;
  font-family: "Quicksand", sans-serif;
  color: #333333;
  background-color: #f0f0f0;
}

img {
  max-width: 100%;
  height: auto;
}

.sm-device {
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  position: relative;
}
.sm-device_slider button {
  padding: 8px 12px;
  border-radius: 8px;
  line-height: 20px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #1a1a1a;
}
.sm-device h2.logo {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.sm-device_search-btn {
  position: absolute;
  right: 19px;
  top: 3px;
  color: #1a1a1a;
}
.sm-device_search-btn button {
  background: transparent;
}

.overlay {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.active {
  width: 100% !important;
  opacity: 1 !important;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
  display: block !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: 0.5s;
}

.openSideBar {
  width: 250px;
  display: block;
}

.search-panel {
  opacity: 0;
  width: 0;
  background-color: green;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 50px;
  padding: 4%;
  z-index: -1;
}
.search-panel p {
  display: flex;
  justify-content: center;
}
.search-panel input[type=text] {
  margin-top: 10px;
}
.search-panel h6 {
  font-size: 15px;
  text-align: left;
  font-weight: normal;
  color: #fff;
}

#web-search {
  display: none;
}
#web-search .web-search_block {
  background-color: rgba(0, 0, 0, 0.8);
  height: auto;
  width: 100%;
  float: left;
  display: flex;
  position: fixed;
  left: 0;
  top: 8rem;
  padding-bottom: 1rem;
}
#web-search .web-search_block h6 {
  color: #fff;
  font-size: 94%;
  font-weight: 400;
}
#web-search .web-search_block .container p.distance {
  display: flex;
  width: 100%;
}
#web-search .web-search_block .container .web-search_block-location {
  display: flex;
}
#web-search .web-search_block .container .web-search_block-location h6 {
  display: flex;
  margin: 0.5% 0;
  flex: 1 1 100%;
}
#web-search .web-search_block .container .web-search_block-location p {
  margin: 0 0.5%;
  flex: 1;
}
#web-search .web-search_block .container .web-search_block-location p.first-child {
  margin-left: 0 !important;
}
#web-search .web-search_block .container .web-search_block-location p.last-child {
  margin-right: 0 !important;
}
#web-search .web-search_block .container button.searchBtn {
  background-color: #fdc600;
  color: #333333;
  padding: 10px 20px;
}

/************* NEW CSS ***************/
header.header-main {
  background-color: red !important;
}

.primary-bar {
  background-color: #fff;
  width: 100%;
  z-index: 100;
  position: relative;
  height: 65px;
  border-bottom: 1px solid coral;
}
.primary-bar h2 {
  padding-top: 0.2rem;
}
.primary-bar h2 small {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  line-height: 0.8rem;
}
.primary-bar ul.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 0;
}
.primary-bar ul.right-nav li a {
  padding: 0 25px;
  text-transform: uppercase;
  font-size: 0.88rem;
  font-weight: 600;
  color: #333333;
  text-align: center;
  text-decoration: none;
  display: block;
}
.primary-bar ul.right-nav li a:last-child {
  padding-right: 0;
}
.primary-bar ul.right-nav li a span {
  border-bottom: 3px solid #fff;
  display: block;
  line-height: 30px;
}
.primary-bar ul.right-nav li a span:hover, .primary-bar ul.right-nav li a span.active {
  border-bottom: 3px solid coral;
  font-weight: 700;
  color: #1a1a1a;
}
.primary-bar .header-container {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  height: 64px;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0px;
  width: 250px;
  background-color: #fff;
  background-color: #44BBA4;
  background-color: #000;
  z-index: 100;
  height: 100%;
}
.sidebar p {
  padding: 0 0.8rem;
  font-size: 0.92rem;
  font-weight: 500;
  color: #fff;
}
.sidebar p small {
  font-size: 0.8rem;
  font-weight: 500;
  color: #e5e5e5;
}
.sidebar p button {
  background-color: transparent;
  border-color: coral;
  border-radius: 10rem !important;
  border: 0;
  font-weight: bold;
  border: 2px solid coral;
}
.sidebar-content {
  margin-top: 5rem;
}
.sidebar-content--bullet-list {
  list-style-type: none;
  padding-top: 0;
  width: 90%;
  margin: 0 auto;
}
.sidebar-content--bullet-list li {
  border-bottom: 1px solid #444;
  line-height: 28px;
  color: #fff;
  font-size: 0.805rem;
}
.sidebar-content--bullet-list li:last-child {
  border-bottom: none;
}

.container {
  margin-top: 1rem;
}

.main-content {
  position: relative;
  margin-left: 16rem;
  z-index: 100;
}
.main-content .content {
  background-color: #fff;
  padding: 1rem 1rem;
}
.main-content .content .thumb-imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .content .thumb-imgs-container div {
  padding-top: 1.8rem;
}
.main-content .content .thumb-imgs-container div:nth-child(n+1) {
  padding: 0.75rem;
}
.main-content .content .thumb-imgs-container div img {
  border: 1px solid #ccc;
}
.main-content .content .thumb-imgs-container div img:hover {
  transition: 0.5s all;
  transform: scale(1.1);
  cursor: pointer;
}
.main-content .content .thumb-imgs-container div.contact-page {
  margin: auto;
}
.main-content .content .thumb-imgs-container div.contact-page img {
  width: 30rem;
}
.main-content .content .thumb-imgs-container div.contact-page img:hover {
  transition: none;
  transform: none;
}
.main-content .content .thumb-imgs-container ul.contact-page--contactList {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 2rem auto;
  border-top: 1px solid #fdc600;
  padding-top: 20px;
}
.main-content .content .thumb-imgs-container ul.contact-page--contactList li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-content .content .thumb-imgs-container ul.contact-page--contactList li span.icon-bg {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 42px;
  height: 42px;
}
.main-content .content ul.nav-pills {
  display: flex;
  justify-content: space-between;
}
.main-content .content .nav-pills .nav-link {
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
.main-content .content .nav-pills .nav-link.active, .main-content .content .nav-pills .show > .nav-link {
  color: #fff;
  background-color: coral;
  border-radius: 10rem !important;
}

.profile-img {
  text-align: center;
  margin: 1rem auto;
  width: 6rem;
  height: auto;
}
.profile-img img {
  border-radius: 100%;
}

.padding-top-10 {
  padding-top: 10px;
}

.social-media {
  border-top: 1px solid coral;
  display: flex;
  padding-left: 0.8rem;
}
.social-media a {
  padding: 12px 7px;
  color: lightgray;
}

.rightSidePanel {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.rightSidePanel-block {
  width: 60%;
  background-color: #525659;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-box-shadow: -10px 0px 15px -3px #787878;
  -moz-box-shadow: -10px 0px 15px -3px #787878;
  box-shadow: -10px 0px 15px -3px #787878;
}
.rightSidePanel-block header {
  height: 4.05rem;
  background-color: #1a1a1a;
  padding: 0.8rem;
  margin-bottom: 0;
  color: #fff;
}
.rightSidePanel-block header h6 {
  line-height: 2.5rem;
}
.rightSidePanel-block div.block-container {
  overflow: hidden;
  height: calc(100vh - 6rem);
  height: 88%;
  padding: 1.8rem 0;
}
.rightSidePanel-block div.block-container embed {
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
